@CHARSET "UTF-8";
* {
	padding : 0;
	margin : 0;
}
body,html {
	width : 100%;
	height : 100%;
}
header {
	width : 100%;
	height : 10%;
	background : rgb(0, 125, 255);
	color : white;
	text-align : center;
	font-size : 2em;
	line-height : 80px;
}
nav {
	width : 100%;
	height : 5%;
	background : #555;
}
nav ul li {
	list-style-type : none;
	display : inline;
	margin : 0 1%;
	line-height : 40px;
}
nav ul li a {
	text-decoration : none;
	color : white;
}
section {
	width : 100%;
	height : 80%;
}
section h2 {
	text-align : center;
	padding : 2% 0;
}
section h3 {
	text-indent : 3%;
}
section ol li {
	margin-left : 4%;
}
footer {
	width : 100%;
	height : 5%;
	background : #555;
	color : white;
	text-align : center;
	line-height : 40px;
}
#tab1 {
	width : 70%;
	height : 50%;		/* 목록 조회 테이블 스타일 */
	margin : 0 auto;
}
#tab1 tr {
	text-align : center;
	height : 30px;
}
.button {
	width : 100px;
	height : 40px;
	background : #555;
	color : white;
	margin-top : 1%;
}
#tab2 {
	width : 60%;
	height : 50%;			/* 입력 테이블 스타일 */
	margin : 0 auto;
}
#tab2 tr {
	height : 30px;
}
#tab2 input[type=text] {
	width : 70%;
	height : 26px;
	border : none;
}
#tab2 input[type=button] {
	width : 20%;
	height : 26px;
	background : #333;
	color : white;
}