@CHARSET "UTF-8";
* {
	padding : 0;
	margin : 0;
}
body,html {
	width : 100%;
	height : 100%;
}
header {
	width : 100%;
	height : 12%;
	background : rgb(0, 125, 255);
	color : white;
	font-size : 2em;
	text-align : center;
	line-height : 100px;
}
nav {
	width : 100%;
	height : 5%;
	background : purple;
	text-align : center;
	line-height : 40px;
}
nav ul li {
	list-style-type : none;
	display : inline;
	margin : 0 2%;
}
nav ul li a {
	text-decoration : none;
	color : white;
}
section {
	width : 100%;
	height : 78%;
}
section h2 {
	text-align : center;
	padding : 2% 0;
}
section h3 {
	text-indent : 4%;
	padding-top : 2%;
}
section p {
	text-indent : 4%;
}
section ol li {
	margin-left : 4%;
}
footer {
	width : 100%;
	height : 5%;
	background : #555;
	color : white;
	text-align : center;
	line-height : 40px;
}
#tab1 {
	width : 70%;
	margin : 0 auto;
	border : 2px solid #000;
}
#tab1 th {
	width : 30%;
	height : 36px;
	background : #eee;
}
#tab1 td {
	height : 36px;
}
#tab1 input[type=text] {
	width : 70%;
	height : 30px;
	border : none;
}
#tab1 select {
	width : 40%;
	height : 30px;
}
#tab1 input[type=button] {
	width : 20%;
	height : 30px;
	background : #ccc;
}
#tab2 {
	width : 70%;
	margin : 0 auto;
	border : 2px solid #000;
}
#tab2 th {
	height : 36px;
	background : #eee;
}
#tab2 td {
	height : 30px;
}
#tab2 a {
	text-decoration : none;
}
#tab3 {
	width : 50%;  /* 호봉 조회 테이블 */
	margin : 0 auto;
	border : 2px solid #000;
}
#tab3 th {
	height : 36px;
	background : #eee;
}
#tab3 td {
	height : 30px;
}
#tab3 a {
	text-decoration : none;
}
#tab4 {
	width : 70%;
	margin : 0 auto;
}
#tab4 th {
	background : rgb(250, 244, 192);
	height : 36px;
}
#tab4 td {
	height : 36px;
}
#tab4 input[type=text] {
	width : 70%;
	height : 30px;
}
#tab4 input[type=button] {
	width : 20%;
	height : 30px;
	background : #555;
	color : white;
}
#tab5 {
	width : 70%;
	margin : 0 auto;
	border : 2px solid #000;
}
#tab5 th {
	background : #eee;
	height : 36px;
}
#tab5 td {
	height : 30px;
	text-align : center;
}
.r {
	text-align : right!important;
}