@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Merienda:wght@700&family=Nanum+Pen+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Merienda:wght@700&family=Nanum+Pen+Script&display=swap');
@charset "UTF-8";
* {
	padding : 0;
	margin : 0;
	font-family : "맑은 고딕";
}
ul {
	list-style-type : none;
}
#top-menu > ul > li:hover, #main-menu > li:hover {
	background-color : rgba(0, 0, 0, 0.3);
	transition : all 1s ease-in-out;
	
}
a {
	text-decoration : none;
}
body {
	background-image : url("../poster/cinema.jpg");
	background-repeat : no-repeat;
	background-size : cover;
}
#container {
	width : 1200px;
	margin : 50px auto;
	background-color : #fff;
	border-radius : 20px;
	box-shadow : 1px 0 10px #000;
}
header {
	width : 100%;
	height : 100px;
}
#logo {
	width : 300px;
	height : 100px;
	float : left;
}
#logo > a  {
	padding-left : 20px;
	font-family: 'Black Han Sans', sans-serif;
	font-size : 50px;
	text-decoration : none;
	line-height : 120px;
	color : rgb(237, 49, 36);
}
#top-menu {
	width : 900px;
	height : 100px;
	float : right;
	text-align : right;
}
#top-menu > ul > li {
	display : inline-block;
	width : 130px;
	height : 40px;
	box-sizing : border-box;
	margin : 30px 0px;
	padding : 0 20px;
	text-align : center;
	line-height : 40px;
	border-left : 1px solid rgb(237, 49, 36);
}
#top-menu > ul > li:last-child {
	margin-right : 40px;
	border-right : 1px solid rgb(237, 49, 36);
}
#top-menu > ul > li > a {
	font-size : 16px;
	color : #555;
}
nav {
	width : 100%;
	height : 50px;
	line-height : 50px;
	border-bottom : 2px solid rgb(237, 49, 36);
}
#main-menu > li {
	float : left;
	padding : 0px 30px;
}
#main-menu > li:nth-child(3) {
	position : relative;
}
#main-menu > li:first-child {
	margin-left : 20px;
}
#main-menu > li > a {
	color : #555;
	font-size : 16px;
}
#main-menu > li:hover #sub-menu{
	opacity : 1;
	transition : all 1s ease-in-out;
}
#sub-menu {
	opacity : 0;
	position : absolute;
	width : 130px;
	background-color : #fff;
	left : 0px;
	margin : 0;
	z-index : 10;
	text-align : center;
	border-radius : 0 0 15px 15px;
	transition : all 1s ease-in-out;
}
#sub-menu > li {
	border-bottom : 1px solid rgb(237, 49, 36);
}
#sub-menu > li > a {
	color : #555;
	font-size : 16px;
}
#sub-menu > li:last-child {
	border : none;
}
section {
	width : 100%;
	height : 800px;
}
#main-content {
	width : 100%;
	height : 500px;
	position : relative;
	ovderflow : hidden;
	border-bottom : 1px solid rgb(237, 49, 36);
}
#main-content > img {
	width : 100%;
	height : 500px;
	background-size : cover;
}
button {
	position : absolute;
	height : 100%;
	top : 0;
	border : none;
	padding : 20px;
	background-color : transparent;
	color : #000;
	font-weight : 800;
	font-size : 24px;
	opacity : 0.5;
}
button:hover {
	background-color : #222;
	color : #fff;
	opacity : 0.6;
	cursur : pointer;
}
#prev {
	left : 0;
}
#next {
	right : 0;
}
#sub-content {
	width : 100%;
	height : 300px;
}
#rank {
	width : 599px;
	height : 300px;
	float : left;
	text-align : center;
	border-bottom : 1px solid rgb(237, 49, 36);
}
#rank > h2 {
	text-align : center;
	padding : 20px 0;
}
#rank > ul > li {
	display : inline-block;
	margin : 20px 30px;
}
#rank > ul > li > img {
	width : 120px;
	height : 120px;
	border-radius : 50%;
	box-shadow : 1px 0 5px #000;
}
#rank > ul > li > span {
	display : block;
}
#event {
	width : 599px;
	height : 300px;
	float : left;
	border-left : 1px solid rgb(237, 49, 36);
	border-bottom : 1px solid rgb(237, 49, 36);
}
#event > h2 {
	padding-left : 20px;
	padding-top : 20px;
}
#event > ul > li {
	margin : 20px 0 20px 40px;
}
footer {
	width : 100%;
	height : 120px;
	border-radius : 0 0 20px 20px;
	position : relative;
}
footer > p{
	text-indent : 20px;
	margin : 20px 0;
}
#sns {
	position : absolute;
	top : 10px;
	right : 20px;
}
#sns > a {
	margin-right : 20px;
}
