@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&family=Merienda&display=swap');
@CHARSET "UTF-8";
* {
	padding : 0;
	margin : 0;
}
a {
	text-decoration : none;
}
body {
	background-image : url("../poster/cinema.jpg");
	background-repeat : no-repeat;
	background-size : cover;
}
#container {
	width : 500px;
	height : 400px;
	margin : 250px auto;
	background-color : #fff;
	border-radius : 20px;
	box-shadow : 1px 0 10px #000;
}
#container > h1 {
	font-family: 'Do Hyeon', sans-serif;
	padding : 30px 0;
	text-align : center;
	font-size : 40px;
}
#log {
	text-align : center;
}
#input_id input[type=text], #input_pass input[type=password] {
	width : 300px;
	height : 30px;
	margin : 30px 5px;	
	border : none;
	border-bottom : 1px solid #ccc;
}
#submit input[type=button] {
	width : 300px;
	height : 40px;
	background-color : rgb(237, 49, 36);
	border-radius : 10px;
	color : #fff;
	margin-bottom : 20px;
}
#input_id {
	position : relative;
	width : 300px;
	margin : 0 auto;
}
#input_id > label {
	position : absolute;
	top : 20px;
	left : 10px;
	color : #555;
}
#input_pass {
	position : relative;
	width : 300px;
	margin : 0 auto;
}
#input_pass > label {
	position : absolute;
	top : 20px;
	left : 10px;
	color : #555;
}
#input_id input[type=text]:focus + label,
#input_id input[type=text]:valid + label
{
	font-size : 10px;
	top : -3px;
}
#input_pass input[type=password]:focus + label,
#input_pass input[type=password]:valid + label
{
	font-size : 10px;
	top : 0px;
}
#log > a {
	margin : 40px;
	color : #555;
}